@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-family: 'Poppins', sans-serif;
}

.pagination button {
    margin: 0 5px;
    padding: 10px 20px; /* Increased padding for more oval shape */
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    border-radius: 25px; /* Increased border-radius for oval shape */
    transition: background-color 0.3s, color 0.3s;
}

.pagination button.active {
    background-color: #97e3d1;
    border-color: #97e3d1;
}

.pagination button:hover:not(.active) {
    background-color: #ddd;
}

.pagination button:disabled {
    background-color: #f1f1f1;
    color: #999;
    cursor: not-allowed;
}
